@import "./variables.css";

* {
    box-sizing: border-box
}

@import "./pure/base.css";

h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--main-fg);
}

header {
    background-color: var(--header-bg);
    border-bottom: 1px solid black;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    color: var(--header-fg);
    height: var(--header-height);
    left: 0;
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: var(--header-z);
}

.header__update-notice {
    background-color: var(--notice-bg);
    color: var(--notice-fg);
    padding: 8px;
    text-align: center;
}

footer {
    background-color: var(--footer-bg);
    border-top: 1px solid black;
    bottom: 0;
    clear: both;
    left: 0;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
    padding-top: 5px;
    position: fixed;
    right: 0;
    z-index: var(--footer-z);
}

main {
    padding-bottom: var(--footer-height);
    padding-top: var(--header-height);
    z-index: var(--main-z);
}

.footer__navigation {
    float: left;
}

.footer__current-time {
    float: right;
}

.footer__link {
    display: inline-block;
    margin-left: 8px;
}

.footer__link a {
    color: var(--footer-fg);
    text-decoration: none;
}

.footer__link--active a {
    background-color: var(--footer-inverse-bg);
    color: var(--footer-inverse-fg);
    font-weight: bold;
}

.footer__link:before {
    content: "| ";
}

.footer__link:first-child {
    margin-left: 0;
}

.footer__link:first-child:before {
    content: "";
}

.presenter {

}

.presenter__naem {
    display: block;
    font-weight: bold;
}
.presenter__twitter {
    display: block;
}

.day > h2 {
    background-color: #333;
    color: #eee;
    padding-top: 8px;
    padding-bottom: 8px;
}

.daylist__mode-switcher {
    margin-top: 15px;
    text-align: center;
}

.daylist__mode-switcher a {
    color: var(--main-fg);
    text-decoration: none;
}

.daylist__mode-switcher a.active {
    font-weight: bold;
}

.track__header {
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
    position: relative;
}

.track__collapser {
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.session {
    padding: 0.5rem;
}

.session--favourite {
    background-color: var(--favourite-bg);
    color: var(--favourite-fg);
}

.favourite {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.favourite a {
    color: var(--main-fg);
    text-decoration: none;
}
