@import "./variables.css";

* {
    box-sizing: border-box
}

@import "./pure/base.css";

body {
    background-color: var(--main-bg);
    color: var(--main-fg);
}

header {
    background-color: var(--header-bg);
    border-bottom: 1px solid black;
    color: var(--header-fg);
    height: var(--header-height);
    left: 0;
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}

footer {
    background-color: var(--footer-bg);
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
    padding-top: 5px;
    position: fixed;
    right: 0;
}

main {
    padding-bottom: var(--footer-height);
    padding-top: var(--header-height);
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
}
