:root {
    --edge-padding: 8px;

    --header-bg: #e10079;
    --header-fg: #fff;
    --header-height: 70px;

    --notice-bg: #faa507;
    --notice-fg: #333;

    --footer-bg: #ddd;
    --footer-fg: #333;
    --footer-height: 50px;

    --main-bg: #eee;
    --main-fg: #333;

    --header-z: 20;
    --footer-z: 20;
    --main-z: 10;
}
